{% extends '::base.html.twig' %}
{% block titre -%}
Joueur list
{% endblock %}


{% block tableau -%}
 <table class="table table-hover" >
    <thead>
        <tr>
            <th>Nomprenom</th>
            <th>Datenaissance</th>
            <th>Nationalite</th>

           

        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
             {% if (entity.idEquipe == id ) %}
            <tr>
                <td>{{ entity.nomPrenom }}</td>
                <td>{% if entity.datenaissance %}{{ entity.datenaissance|date('Y-m-d ') }}{% endif %}</td>
                <td>{{ entity.nationalite }}</td>


            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
{% endblock %}
{% block body -%}





   

    {% endblock %}
