{% extends '::base.html.twig' %}
{% block titre -%}
<h4>Ligue list </h4>
  {% endblock %}
  
  

    
    {% block tableau -%}
   <table class="table table-hover" >
        <thead>
            <tr>
                <th>Nomligue</th>
               
                
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr style="height: 20px;" >
<<<<<<< HEAD
                <td style="width:100%;"><a href="{{ path('saison', { 'ligue': entity.id }) }}">{{ entity.nomLigue }}</a></td>
=======
                <td style="width:100%;">{{ entity.nomLigue }}</a></td>
>>>>>>> 6b27b8aa53ac30b91722819b2a3b59a209fb9eb6
                
               
            </tr>
        {% endfor %}
        </tbody>
    </table>

 {% endblock %}      
{% block body -%}

<<<<<<< HEAD
    
=======
        <ul>
        <li>
            <a href="{{ path('ligue_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
>>>>>>> 6b27b8aa53ac30b91722819b2a3b59a209fb9eb6
{% endblock %}